body {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  text-align: center;
  border: 1px solid #ccc;
  width: 5rem;
  margin-right: 0.5rem;
}
